
h1 {
  color:white;
text-align: center;
font-family: 'Quantico', sans-serif;
font-size: 100px;
letter-spacing: 5px;
margin-bottom: 5px;
}

h4 {
  color: white;
  text-align: center;
  font-size: 27px;
  font-weight: lighter;
}

.login {
  margin: 0 auto;
  width: 600px;
  padding: 40px;
  margin-top: 60px;
}

input[name='username'], input[name='password'] {
  width: 60%;
  height: 29px;
  margin-left: 18%;
  margin-top: 20px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.6);
  background: rgba(255, 255, 255, 0);

}

input[name='password'] {
  margin-bottom: 20px;
}

 button[name='submit'], button[name='addNew'] {
   display: inline-block;
   width: 30%;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0);
   border-color: #529EEB;
   color:#C2CAD1;
   font-weight: bold;
   font-family:monospace;
   font-size: 15px;
   &:focus{
     outline: none;
   }
 }

button[name='submit'] {
  margin-left: 88px;
}

button[name='addNew'] {
  margin-left: 10px;
}
